body {
  display: grid;
  height: 100vh;
  place-items: center;
}
table {
  border: 2px solid cornflowerblue;
}
tr:nth-child(odd) {
  background-color: lightgrey;
}
tr:nth-child(even) {
  background-color: lightblue;
}

td,
th {
  padding: 0.5rem;
  font-size: 1.5rem;
}
