<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data request page</title>
    <link href="{{ url_for('static',filename='data.css') }}" rel="stylesheet" />
  </head>
  <body>
    <table>
        <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Humidity</th>
        </tr>
        {% for i in data %}
            <tr>
                {% for j in i %}
                <td>{{j}}</td>
                {% endfor %}
            </tr>
        {% endfor %} 
    </table>
  </body>
</html>
